snippet l5-config-get "Laravel Config::get" w
Config::get(${1})
endsnippet

snippet l5-config-get-default "Laravel Config::get with default" w
Config::get(${1}, ${2:''})
endsnippet

snippet l5-config-set "Laravel Config::set" w
Config::set(${1:key}, ${2:value})
endsnippet